.message{
    padding: 10px;
    margin-top: 10px;
    width: fit-content;   
    background-color: #d6d0d0 !important;
    border-radius: 35% !important;
    /* z-index: 0 !important; */
}

.message_user{
    color: white !important;
    margin-left: auto;
    background-color: #0b81ff !important;
    text-align: left !important;
    overflow: scroll;
    z-index: 0;
    border-radius: 35% !important;
}